.employeeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.employeeList > * {
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;
    max-width: 38rem;
}