* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
  background-color: khaki;
}
h1, p, section {
  margin-block-end: 1rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #4ca9c9;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 6rem 2rem;
}
dl {
  background-color: darkkhaki;
  padding: 3rem;
  border-radius: 1rem;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}
dl dt {
  font-weight: bold;
}
button {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: chocolate;
  color: whitesmoke;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  box-shadow: black .3rem .3rem;
  width: max-content;
  font-weight: 700;
}
