* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
  background-color: khaki;
}
h1, p, section {
  margin-block-end: 1rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #4ca9c9;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 6rem 2rem;
}
dl {
  background-color: darkkhaki;
  padding: 3rem;
  border-radius: 1rem;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}
dl dt {
  font-weight: bold;
}
button {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: chocolate;
  color: whitesmoke;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  box-shadow: black .3rem .3rem;
  width: max-content;
  font-weight: 700;
}

/* Navigointi komponentissa Header */
header, .heading {
  margin-block-end: 1rem;
}
header .navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-block-end: 1rem;
}
header .navbar ul > * {
  flex-basis: 0;
  flex-grow: 1;
  background-color: darkkhaki;
  border: gray solid 1px;
}
header a {
  text-decoration: none;
  color: darkslategray;
  font-weight: 700;
  display: block;
  padding: 1rem;
  text-align: center;
}
header a:hover {
  background-color: rgb(240, 230, 140, 0.5);
  text-decoration: underline;
  padding: 1rem;
}
.link-styles {
  text-decoration: none;
  color: darkslategray;
  font-weight: 700;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  background-color: darkkhaki;
  border: gray solid 1px;
  margin-block-end: 1rem;
  min-width: 10rem;
}
.link-styles:hover {
  background-color: rgb(240, 230, 140, 0.5);
  text-decoration: underline;
  padding: 1rem;

} 